body {
    color: #113;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.row.content {
    height: 450px
}

@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}

.bd-navbar {
    color: #ffa321;
    background-color: #4d568f;
}

.card-title{
    color: #4d568f;
}

.img{
    width: 300px;
    height: 400px;
    display: flex;
    margin: auto;
}